@model IEnumerable<Student>
@{
    ViewData["Title"] = "Index";
}
<div class="top-buffer"></div>
<div class="panel panel-primary">
    <div class="panel-heading panel-head">Users</div>
    <div class="panel-body">
        <div class="btn-group" style="margin-bottom: 5px;">
            <a asp-action="" asp-controller="" asp-area="" asp-route-id="" data-url="Student/Create" data-toggle="modal" data-target="#modal-create-edit-detail" class="popup btn btn-outline-primary">Create New</a>
        </div>
        <div class="top-buffer"></div>
        <table class="table table-bordered table-striped table-condensed">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LastName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Email)
                    </th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.FirstName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LastName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            <a asp-action="" asp-controller="" asp-area="" asp-route-id="" data-url="Student/Edit/@item.Id" data-toggle="modal" data-target="#modal-create-edit-detail" id="" class="popup">Edit</a> |
                            <a asp-action="" asp-controller="" asp-area="" asp-route-id="" data-url="Student/Details/@item.Id" data-toggle="modal" data-target="#modal-create-edit-detail" id="" class="popup">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>

                }
            </tbody>
        </table>
    </div>
</div>

@Html.Partial("_PoupModalWindow")
@section scripts
{
    <script src="~/js/poupModalWindow.js"></script>
}